* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Open Sans", sans-serif, ;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #FF6900 0%, #F54A00 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    background: whitesmoke;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}
.login-header{
    text-align: center;
    margin-bottom: 30px;
}
.login-header h2 {
    color: #333;
    margin-bottom: 8px;
    font-size: 28px;
}
.login-header p {
    color: #777;
    font-size: 14px;
}
.form-group {
    margin-bottom: 20px;
    position: relative;
}
.form-group input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    outline: none;
    border: 1px solid #777;
}
.form-group input:focus {
    border-color: #F54A00;
    box-shadow: 0 0 0 3px rgb(245, 74, 0, 0.1);
}
.form-group label {
    position: absolute;
    left: 15px;
    top: 14px;
    color: #999;
    font-size: 15px;
    pointer-events: none;
    transition: all 0.5s ease;
    padding: 0 5px;
    background: whitesmoke;
    
}
.form-group input:focus ~ label, 
.form-group input:valid ~ label {
    top: -8px;
    font-size: 12px;
    color: #F54A00;
}