.container {
    width: 800px;
    height: 400px;
    background-color: aliceblue;
    border: 5px solid #888;
    padding: 20px;
    box-sizing: border-box;
    margin: 50px auto;
    border-radius: 12px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.box{
    width: 200px;
    height: 200px;
    background-color: #4caf50;
    border: 4px solid #388e3c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.box:nth-child(1) {
    background-color: #d2691e;
    border-color: #f57c00;
}
.box:nth-child(2) {
    background-color: #363636;
    border-color: #363252;            
}
.box:nth-child(3) {
    background-color: #148;
    border-color: #148888;            
}
.box:hover{
    transform: translateY(-15px) scale(1.05);
    box-shadow: rgba(0, 0, 0, .5);
    border-color: #fff;
}
.box:nth-child(1):hover {
    background-color: #f57c00;
}
.box:nth-child(2):hover {
    background-color: #363252;
}
.box:nth-child(3):hover {
    background-color: #148888;
}