body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
}

nav {
    background-color: #4a7089;
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
nav ul li a{
    cursor: pointer;

} 
nav ul li a:hover {
    text-decoration: underline;
    color: #e74c3c;
}


article {
    background-color: lightblue;
    height: 60%;
    display: flex;
    flex-direction: row;
}

section {
    background-color: #FFFFFf; 
    width: 70%;
    height: 60%;
    display: flex;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    line-height: 1.6;
}

aside {
    background-color:  #ecf0f1;
    width: 30%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    line-height: 1.6;
}

footer {
    background-color: #2c3e50;
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
}